.paralax {
  background-image: url(/Images/Sectionsbackground/section-1.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #5E5D5899;
  display: flex;
  justify-content: center;
  margin-bottom: 132px;
}

.menu {
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  list-style: none;
}

.menu-header {
  padding-left: 21px;
}

.menu-link {
  text-decoration: none;
  color: #FFFFFF99;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  /* padding-left: 21px; */
}

.menu-link:hover {
  color: #18CFAB;
  border-bottom: 2px solid #18CFAB;
  padding-bottom: 47px;
}

.theHam {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 132px;
}


.green {
  color: #18CFAB;
}

.creative {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 78px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 22px;
}

.buy {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 34px;
  text-align: center;
  color: #D4D4D4;
  padding: 22px 0 132px;
}

.main {
  text-align: center;
}

.buttonGreen {
  /* margin-top: 132px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  padding: 13px 22px;
  background-color: #18CFAB;
  color: #FFFFFF;
  border: none;
  border-top: 5px solid #FFFFFF;
  border-radius: 5px;
}

.buttonBlue {
  /* margin-top: 132px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  padding: 13px 22px;
  background-color: #00CBF6;
  color: #FFFFFF;
  border: none;
  border-top: 5px solid #FFFFFF;
  border-radius: 5px;
  margin-bottom: 121px;
  margin-left: 26px;
}

.addInformation {
  display: flex;
  margin-top: 121px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.differentTheme {
  background-color: #1C2A33;
  width: 482px;
  height: 377px;
}

.customizable {
  width: 482px;
  height: 377px;
  background-color: #18CFAB;
}

.support {
  background-color: #1C2A33;
  width: 482px;
  height: 377px;
}

.responsive {
  width: 482px;
  height: 377px;
  background-color: #18CFAB;
}

.imghand {
  padding-top: 85px;
}

.imgcrystal {
  padding-top: 96px;
}

.imglamp {
  padding-top: 85px;
}

.imgcomp {
  padding-top: 95px;
}

p {

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.addone {
  color: #18CFAB;
  padding-top: 47px;
}

.addtwo {
  color: #FFFFFF;
  padding-top: 58px;
}

.addthree {
  color: #18CFAB;
  padding-top: 48px;
}

.addfour {
  color: #FFFFFF;
  padding-top: 58px;
}

.nameService {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #4E4E4E;
  padding-top: 83px;
  text-align: center;
}


.section-services {
  width: 1160px;
  margin: 0 auto;
  padding: 83px 0px 91px 0px;
}

.section-title {
  padding-bottom: 26px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #4E4E4E;
  text-align: center;
}

.title-line {
  margin: 0 auto;
  height: 5px;
  width: 75px;
  border-top: 1px solid #18CFAB;
  border-bottom: 1px solid #18CFAB;
  transform: skewX(75deg);
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 23px;
  width: 100%;
}

.services-tabs-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 70px;
  background-color: #F8FCFE;
  border: 1.5px solid #F8FCFE;
  flex-grow: 1;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 39px;
}

.services-tabs-item.active::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #18CFAB;
}

.services-tabs-item:hover {
  border: 1.5px solid #18CFAB;
}

.services-tabs-item:active {
  background-color: #18CFAB;
  color: #ffffff;
}

.tabs-content-item,
.tabs-content .active {
  display: flex;
  gap: 20px;
}

.services-tabs-item.active {
  background-color: #18CFAB;
  color: #ffffff;
}

.tabs-content li {
  display: none;
}

.tabs-content-text {
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
}





.section-buy {
  background-image: url(../Images/Sectionsbackground/section-2.jpg);
  height: 476px;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-buy__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.title-buy {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  padding-top: 127px;
  color: #18CFAB;
  text-transform: uppercase;
}

.text-buy {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  padding-top: 13px;
  padding-bottom: 67px;
  color: #D8D8D8;
}



.section-work {
  padding-bottom: 100px;
  background-color: #E9EDEF;
  padding-top: 95px;
}

.work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 71px;
}


.work-list {
  display: flex;
  margin-bottom: 71px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #DADADA;

}

.work-item {
  padding: 21px 15px;
  background-color: #F8FCFE;
  border: 1px solid #EDEFEF;
  color: #717171;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  min-width: 80px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;


}

.work-item:hover {
  border: 2px solid #18CFAB;
  color: #18CFAB;
}



.btn-work {
  background: #18CFAB;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFF;

  min-width: 168px;
  padding: 22px 0 22px 22px;
  border-radius: 8px;
  margin: 0 auto;
  display: block;
  position: relative;
  border: none;
}

.btn-work:before {
  content: '+';
  position: absolute;
  left: 22px;
  font-size: 25px;
}

.section-news {
  background: #FFF;
  padding: 82px 0;
  width: 1160px;
  margin: 0 auto;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-item {
  width: 265px;
  height: 281px;
  position: relative;
  margin-top: 68px;
  margin-bottom: 44px;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.news-title {
  font-weight: 700;
  font-size: 18px;
  color: #717171;
  padding-top: 16px;
  padding-left: 21px;
}

.news-item:hover .news-title {
  color: #18CFAB;
}

.news-autor,
.news-comments {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  color: #777;
  padding-top: 18px;
  padding-left: 18px;
}

.news-autor:after {
  content: '|';
  padding-left: 18px;
}

.news-date {
  width: 70px;
  height: 68px;
  position: absolute;
  top: 0;
  right: 2px;
  background-color: #203E38;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  padding-top: 9px;
  color: #FFF;
}

.news-item:hover .news-date {
  background-color: #18CFAB;
}





.reviews {
  padding: 105px 0;
  background: linear-gradient(rgba(0, 0, 0, .3),
   rgba(0, 0, 0, .3)),
    url("../Images/Sectionsbackground/section-3.jpg");
  color: #a3a7a8;
  font-size: 16px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.container{width: 1160px;
  margin: 0 auto;}

.reviews-title {
  padding-bottom: 30px;
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;
}

.slider {
  margin-top: 70px;
}


.inverted-quotes {
  margin: 0 auto;
  display: block;
  width: 45px;
}

.slider-comment {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-wrapper {
  position: relative;
  height: 425px;
  width: 100%;
}

.slider-user-review {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.slider-user-review.active {
  opacity: 1;
  transition: 1s;
  animation: show 3s 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.slider-user-data-name {
  text-align: center;

  padding-bottom: 15px;
  font-size: 20px;
  ;
  color: #18cfab;
  font-weight: 700;
  text-transform: uppercase;
}

.slider-user-data-profession {
  padding-bottom: 35px;
  text-align: center;
}

.slider-user-foto-big {
  margin: 0 auto;
  display: block;
  margin-bottom: 70px;
  height: 145px;
  width: 145px;
  box-sizing: border-box;
  border: 2px solid #18cfab;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #18cfab50;
  overflow: hidden;
}

.slider-area {
  display: flex;
  margin: 0 auto;
  width: 500px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  user-select: none
}

.arrow-left {
  text-align: center;
  width: 30px;
  height: 30px;
  top: 16px;
  box-sizing: border-box;
  border: 1px solid #969a9c;
  color: #969a9c;
  font-size: 24px;
  line-height: 30px;
}

.arrow-right {
  text-align: center;
  width: 30px;
  height: 30px;
  top: 16px;
  box-sizing: border-box;
  border: 1px solid #969a9c;
  color: #969a9c;
  font-size: 24px;
  line-height: 30px;
}

.arrow-left:hover,
.arrow-right:hover {
  background-color: #18cfab;
  border: 1px solid #18cfab;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;

}

.slider-wrapper {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.slider-user-foto-small {
  position: relative;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #18cfab50;
  overflow: hidden;
}

.slider-user-foto-small.active {
  border: 1px solid #18cfab;
  transform: translate3d(0px, -20px, 0px);
  transition: transform .4s ease-in-out;
  cursor: pointer;
}

.slider-user-foto {
  height: auto;
  width: 100%;
  object-fit: cover;
  cursor: pointer;

}



.footer {
  background-color: #22353f;
}

.footer-text {
  padding: 47px 0;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.footer-text-link {
  color: #18CFAB;
  font-size: 14px;
}

.OurAmazingWork{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  }

  .OurAmazingWorkImages{
    position: relative;
  }    

   .OurAmazingWorkImages:hover .hoverBlock{
    opacity: 1;
   }

   .hoverBlock{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #E9EDEF ;
      opacity: 0;
      }
   
      .imgour{
       width:100% ;
        height: 100%;
      }